<!DOCTYPE html>
<html lang="en"
  xmlns:metal="http://xml.zope.org/namespaces/metal"
  xmlns:tal="http://xml.zope.org/namespaces/tal"
  metal:define-macro="default"
>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <style>html, body {height: 100%;}</style>
  <style metal:define-slot="page-style">
    /* Page specific styles will replace this  */
  </style>
</head>
<body class="has-background-white-ter">
    <p metal:define-slot="content">This will be replaced with content from other templates</p>
</body>
</html>
